body {
    background-image: url('bilder/cork-board.png');
    /* background-color: rgb(95, 104, 101); */
    background-repeat: repeat;    
}

@font-face {
    font-family: baroneystextures;
    src: url(BaroneysTextured.ttf);
}

.fulldiary {
    font-family: baroneystextures;
    text-align: center;
    font-size: 3em;
}

.willkommen{
    color: rgb(63, 41, 7);
}
.first_text {
    color: rgb(61, 56, 52);
}
  
.input_form{
    
    text-align: center;
    font-size: 1.5em;
}
a:visited {
    color: rgb(61, 56, 52);
}
a:hover {
    color: rgb(174, 162, 240);
}

.error{
    color:red;
    font-size: 0.7em /*!important*/;
    font-family: Arial;

}

