body{
    margin: 0px;
}

header {
    padding: 60px;
    text-align: center;
    background-color: aqua;
    font-size: x-large;
    color: black;
    height: 99px;
    margin-top: -50px;
}

footer {
    text-align: center;
    background-color: aqua;
    font-size: x-large;
    color: black;
    margin-bottom: -300px;
}

img#ibzlogo { 
    width: 150px;
    height: 150px;
    float: left;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    text-align: center;
    font-family: cursive;
    
}

h5{
    text-align: center;
}
.input_form{
    text-align: center;
}

.empty-box{
    border: solid 20px;
    border-color: rgb(83, 65, 65);
    
}
.leerbox{
    border: solid 100px;
    border-color: white;
}


input[type=submit], input[type=reset]{
    background-color: lightcoral;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;    
}

input[type=text]{
    border-style: inset;
    padding: 10px 15px;
    margin-bottom: 5px;

}

input[type=password]{
    border-style: inset;
    padding: 10px 15px;

}

a:visited{
    color: rgb(88, 29, 136);
}

a:hover{
    color: cornflowerblue;
}

#sydney {
    width: 500px;
    height: inherit;
    margin-left: 50px;
}
#london {
    width: 500px;
    height: inherit;
    margin-right: 50px;
    float: right;
}

.form-group{
    text-align: center;
}
p{
    text-align: center;
}

.form-control{
    margin-top: 10px;
    float: unset;
}

.insitebutton{
    text-align: left;
}

#text{
    width: 25%;
    min-height: 100x;

    text-align: center;
}

#eintrag{
    width: 50%;
    max-height: 100px;
    text-align: center;
    margin-top: 10px;
}
textarea{
    text-align: center;
    resize: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.kategorie{
    width: 15%;
    display: block;
    margin-top: 10px;
    text-align: center;
    margin-left: 820px;
}
.date{
    margin-top: 10px;
}

.speicherbutton{
    text-align: center;
}
.date,.bildeinfügen{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group{
    text-align: left;
    margin-left: 10px;
}
.form-group2,.form-group3{
    text-align: center;
}
.filter-text{
    text-align: center;
}
.filter{
    text-align: center;
}
p.keine_Einträge{
    font-size: 30px;
}
.filter{
    margin-top: 10px;
    margin-bottom: 10px;
}
.eintrag-anzeige{
    text-align: left;
    
    width: auto;
    padding: 20px;
    background-color: #ebb;
    -moz-box-sizing: border-box;
}
